# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Output files
*.html
*.pdf

# Quarto and R Markdown asset folders
*_files/
RWorkshop_files/

# rsconnect folder (used for publishing)
rsconnect/
